@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Gilroy/Gilroy-Bold.eot");
  src: url("../fonts/Gilroy/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/Gilroy/Gilroy-BoldItalic.eot");
  src: url("../fonts/Gilroy/Gilroy-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-BoldItalic.woff") format("woff"), url("../fonts/Gilroy/Gilroy-BoldItalic.woff2") format("woff2"), url("../fonts/Gilroy/Gilroy-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/Gilroy/Gilroy-RegularItalic.eot");
  src: url("../fonts/Gilroy/Gilroy-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-RegularItalic.woff") format("woff"), url("../fonts/Gilroy/Gilroy-RegularItalic.woff2") format("woff2"), url("../fonts/Gilroy/Gilroy-RegularItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Gilroy/Gilroy-Regular.eot");
  src: url("../fonts/Gilroy/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
}

body {
  background: #333333;
  color: #ffffff;
  padding: 20px;
  background: center/contain no-repeat url('data:image/svg+xml;utf8,%3Csvg%20class%3D%22svg-icon%22%20style%3D%22width%3A%201em%3B%20height%3A%201em%3Bvertical-align%3A%20middle%3Bfill%3A%20currentColor%3Boverflow%3A%20hidden%3B%22%20viewBox%3D%220%200%201024%201024%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M681.890909%20356.072727c11.636364-13.963636%2034.909091-16.290909%2048.872727-4.654545%2013.963636%2011.636364%2016.290909%2034.909091%204.654546%2048.872727l-232.727273%20276.945455c-11.636364%2013.963636-34.909091%2016.290909-48.872727%204.654545L302.545455%20556.218182c-13.963636-11.636364-16.290909-34.909091-4.654546-48.872727%2011.636364-13.963636%2034.909091-16.290909%2048.872727-4.654546l125.672728%20104.727273%20209.454545-251.345455zM512%201024C228.072727%201024%200%20795.927273%200%20512S228.072727%200%20512%200s512%20228.072727%20512%20512-228.072727%20512-512%20512z%20m0-46.545455c256%200%20465.454545-209.454545%20465.454545-465.454545S768%2046.545455%20512%2046.545455%2046.545455%20256%2046.545455%20512s209.454545%20465.454545%20465.454545%20465.454545z%22%20fill%3D%22%23333333%22%20%2F%3E%3C%2Fsvg%3E');;
}