.modal#modal-form
    .modal__container 
        .modal__body 
            .modal__close 
            include form


.modal#modal-form2
    .modal__container 
        .modal__body 
            .modal__close 
            h2 form 2
            include form