doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Gulp Landing Template
        link(rel="stylesheet" href="css/libs.min.css")
        link(rel="stylesheet" href="css/style.css")
    body 
        .wrapper 
            header.header 
                .header__container 
            
            section.test 
                select.myselect(name="test_2")
                    option(value="test_1") test_1
                    option(value="test_2") test_2
                    option(value="test_3") test_3
                    option(value="test_4") test_4
                    option(value="test_5") test_5
                    option(value="test_6") test_6
                    option(value="test_7") test_7
                    option(value="test_8") test_8
                    option(value="test_9") test_9
                    option(value="test_10") test_10
                    option(value="test_11") test_11
                    option(value="test_12") test_12
                    option(value="test_13") test_13
                    option(value="test_14") test_14
                    option(value="test_15") test_15
                .separator 
                label(class="custom-radio")
                    input(type="radio", name="answer" value="yes")
                    span Yes
                label(class="custom-radio")
                    input(type="radio" name="answer" value="no")
                    span No

                    
                .test__container 
                    a(href="#modal-form") Open modal
                    a(href="#modal-form2") Open modal 2
            include pug/modal
        script(src="js/libs.min.js")
        script(src="js/script.js")


