doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Gulp Landing Template
        link(rel="stylesheet" href="css/libs.min.css")
        link(rel="stylesheet" href="css/style.css")
    body 
        .wrapper 
            header.header 
                .header__container 
            
            section.test 
                .test__container 
                    h1 Hello World
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis fugiat minima iste magnam velit debitis non, natus iusto alias odit, est suscipit. Voluptatibus culpa cupiditate iusto, assumenda cum ex nemo.
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis fugiat minima iste magnam velit debitis non, natus iusto alias odit, est suscipit. Voluptatibus culpa cupiditate iusto, assumenda cum ex nemo.
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis fugiat minima iste magnam velit debitis non, natus iusto alias odit, est suscipit. Voluptatibus culpa cupiditate iusto, assumenda cum ex nemo.
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis fugiat minima iste magnam velit debitis non, natus iusto alias odit, est suscipit. Voluptatibus culpa cupiditate iusto, assumenda cum ex nemo.
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis fugiat minima iste magnam velit debitis non, natus iusto alias odit, est suscipit. Voluptatibus culpa cupiditate iusto, assumenda cum ex nemo.
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis fugiat minima iste magnam velit debitis non, natus iusto alias odit, est suscipit. Voluptatibus culpa cupiditate iusto, assumenda cum ex nemo.
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis fugiat minima iste magnam velit debitis non, natus iusto alias odit, est suscipit. Voluptatibus culpa cupiditate iusto, assumenda cum ex nemo.
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis fugiat minima iste magnam velit debitis non, natus iusto alias odit, est suscipit. Voluptatibus culpa cupiditate iusto, assumenda cum ex nemo.
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis fugiat minima iste magnam velit debitis non, natus iusto alias odit, est suscipit. Voluptatibus culpa cupiditate iusto, assumenda cum ex nemo.
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis fugiat minima iste magnam velit debitis non, natus iusto alias odit, est suscipit. Voluptatibus culpa cupiditate iusto, assumenda cum ex nemo.
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis fugiat minima iste magnam velit debitis non, natus iusto alias odit, est suscipit. Voluptatibus culpa cupiditate iusto, assumenda cum ex nemo.
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis fugiat minima iste magnam velit debitis non, natus iusto alias odit, est suscipit. Voluptatibus culpa cupiditate iusto, assumenda cum ex nemo.
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis fugiat minima iste magnam velit debitis non, natus iusto alias odit, est suscipit. Voluptatibus culpa cupiditate iusto, assumenda cum ex nemo.
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis fugiat minima iste magnam velit debitis non, natus iusto alias odit, est suscipit. Voluptatibus culpa cupiditate iusto, assumenda cum ex nemo.
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis fugiat minima iste magnam velit debitis non, natus iusto alias odit, est suscipit. Voluptatibus culpa cupiditate iusto, assumenda cum ex nemo.
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis fugiat minima iste magnam velit debitis non, natus iusto alias odit, est suscipit. Voluptatibus culpa cupiditate iusto, assumenda cum ex nemo.
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis fugiat minima iste magnam velit debitis non, natus iusto alias odit, est suscipit. Voluptatibus culpa cupiditate iusto, assumenda cum ex nemo.
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis fugiat minima iste magnam velit debitis non, natus iusto alias odit, est suscipit. Voluptatibus culpa cupiditate iusto, assumenda cum ex nemo.
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis fugiat minima iste magnam velit debitis non, natus iusto alias odit, est suscipit. Voluptatibus culpa cupiditate iusto, assumenda cum ex nemo.
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis fugiat minima iste magnam velit debitis non, natus iusto alias odit, est suscipit. Voluptatibus culpa cupiditate iusto, assumenda cum ex nemo.
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis fugiat minima iste magnam velit debitis non, natus iusto alias odit, est suscipit. Voluptatibus culpa cupiditate iusto, assumenda cum ex nemo.
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis fugiat minima iste magnam velit debitis non, natus iusto alias odit, est suscipit. Voluptatibus culpa cupiditate iusto, assumenda cum ex nemo.
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis fugiat minima iste magnam velit debitis non, natus iusto alias odit, est suscipit. Voluptatibus culpa cupiditate iusto, assumenda cum ex nemo.
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis fugiat minima iste magnam velit debitis non, natus iusto alias odit, est suscipit. Voluptatibus culpa cupiditate iusto, assumenda cum ex nemo.
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis fugiat minima iste magnam velit debitis non, natus iusto alias odit, est suscipit. Voluptatibus culpa cupiditate iusto, assumenda cum ex nemo.
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis fugiat minima iste magnam velit debitis non, natus iusto alias odit, est suscipit. Voluptatibus culpa cupiditate iusto, assumenda cum ex nemo.
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis fugiat minima iste magnam velit debitis non, natus iusto alias odit, est suscipit. Voluptatibus culpa cupiditate iusto, assumenda cum ex nemo.
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis fugiat minima iste magnam velit debitis non, natus iusto alias odit, est suscipit. Voluptatibus culpa cupiditate iusto, assumenda cum ex nemo.
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis fugiat minima iste magnam velit debitis non, natus iusto alias odit, est suscipit. Voluptatibus culpa cupiditate iusto, assumenda cum ex nemo.
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis fugiat minima iste magnam velit debitis non, natus iusto alias odit, est suscipit. Voluptatibus culpa cupiditate iusto, assumenda cum ex nemo.
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis fugiat minima iste magnam velit debitis non, natus iusto alias odit, est suscipit. Voluptatibus culpa cupiditate iusto, assumenda cum ex nemo.
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis fugiat minima iste magnam velit debitis non, natus iusto alias odit, est suscipit. Voluptatibus culpa cupiditate iusto, assumenda cum ex nemo.
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis fugiat minima iste magnam velit debitis non, natus iusto alias odit, est suscipit. Voluptatibus culpa cupiditate iusto, assumenda cum ex nemo.
                    a(href="#modal-form") Open modal
                    a(href="#modal-form2") Open modal 2
            include pug/modal
        script(src="js/libs.min.js")
        script(src="js/script.js")


